.parallel/
.snakemake/
.cache/
.envrc

.ipynb_checkpoints/
.jupyter.log
__pycache__/

*.swp

Data/OtherGenomes/*.fna
Scripts/*.Rmd

Output/DESeq2/
Output/Prokka/
Output/Proteomics/
Output/Mashtree/
Output/QC/
Output/Quants/
Output/SalmonIndex/
Output/Snippy/
Output/ST/
Output/PublicDatasets/
Output/SITables/*.xlsx
