.parallel/
.snakemake/
.cache/
.envrc

.ipynb_checkpoints/
.jupyter.log
__pycache__/

*.swp
*.svg

Output/DESeq2/
Output/Prokka/
Output/Proteomics/
Output/QC/
Output/Quants/
Output/SalmonIndex/
Output/Snippy/
Output/SITables/*.xlsx
